@charset "utf-8";


$blue: #00518e;
$link: $blue;

details {
  border-bottom: 1px solid lightgray;
}
.anc-full-name {
  font-family: 'Montserrat', sans-serif;
}

.is-ancestor {
  justify-content: center;
}

/*
Responsive menu, pure CSS, taken from:
https://siongui.github.io/2020/07/14/css-only-toggle-bulma-responsive-navbar/
*/
@media screen and (max-width: 1023px) {
  /* show mavbar-menu on screen less than 1024px */
  #menu-toggle:checked ~ #navbarBasicExample {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
  }

  /* make navbar-burger become cross on screen less than 1024px */
  #menu-toggle:checked + .navbar-brand > label > span:nth-child(1) { transform: translateY(5px) rotate(45deg); }
  #menu-toggle:checked + .navbar-brand > label > span:nth-child(2) { opacity: 0; }
  #menu-toggle:checked + .navbar-brand > label > span:nth-child(3) { transform: translateY(-5px) rotate(-45deg); }
  /* you can also replace + with ~ in above three rules and get the same result */
}

.navbar-burger {
  height: auto;
}

@import "../../../../bulma/bulma.sass";
