{% extends "base.html" %}
{% block content %}

<section class="section">
  <div class="container">
    <h1 class="title">{{ article.title }}</h1>
    {% if article.subtitle is defined %}
      <h2 class="subtitle has-text-link">{{ article.subtitle }}</h2>
    {% endif %}
    <div class="content">
      {{ article.content }}
    </div>
  </div>
</section>

{% endblock %}
