<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/anc.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon.ico">
    <link rel="describedby" type="application/ld+json" href="{{ SITEURL }}/metadata.json">
    <script type="application/ld+json">
      {{ site_metadata | tojson(indent=2) }}
    </script>
  </head>
  
  <body>
    
    <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
      <input type="checkbox" id="menu-toggle" class="is-hidden">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ SITEURL }}/index.html">
          <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/anc_logo_only_plus_plain.svg" style="max-height:2rem">
        </a>
        <label for="menu-toggle" class="navbar-burger">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </label>
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          {% for a in articles | selectattr('section', 'defined') | sort(attribute = 'section') %}
            <a class="navbar-item mx-2" href="{{ SITEURL }}/{{ a.url }}">{{ a.title }}</a>
          {% endfor %}
        </div>
      </div>
    </nav>
    
    {% block content %}
    {% endblock %}
    
    <footer class="footer is-medium">
      <div class="container">
        <div class="columns">
          <div class="column"></div>
          <div class="column content is-one-third has-text-centered">
            <p>
              <b>&copy; 2024 Austrian NeuroCloud</b>
            </p>
            <p>
              Content under <a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a><br/>
              <a href="https://www.plus.ac.at/impressum/?lang=en">Imprint</a><br/>
              <a href="https://www.plus.ac.at/datenschutz-en/?lang=en">Privacy</a>
            </p>
          </div>
          <div class="column content is-one-third has-text-centered">
            <p>
              <b>Website</b>
            </p>
            <p>
              Design powered by <a href="https://bulma.io">Bulma</a> and <a href="https://ionic.io/ionicons">ionicons</a><br/>
              Content managed by <a href="https://blog.getpelican.com/">Pelican</a><br/>
              <a href="https://gitlab.com/ccns/neurocog/neurodataops/anc/media/anc-website">Code</a> and <a href="https://gitlab.com/ccns/neurocog/neurodataops/anc/media/anc-website/-/issues">Issues</a> managed by <a href="https://gitlab.com">GitLab</a>
            </p>
          </div>
          <div class="column content is-one-third has-text-centered">
            <a href="https://www.re3data.org/repository/r3d100014355"
            ><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/re3badge.svg" style="height:9rem">
            </a
          >
          </div>
        </div>
      </div>
    </footer>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>