{% extends "base.html" %}
{% block content %}

    <section class="hero is-medium mb-6 has-background-link">
      <div class="hero-body">
        <div class="container has-text-centered">
          <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/anc_white_plain.svg" style="height:8rem">
          <p class="subtitle has-text-white has-text-weight-light mt-3">
            FAIR data operations for neuroscience
          </p>
        </div>
      </div>
    </section>

    {% macro section_content(section_article, text_align_class='has-text-left') %}
      <div class="column is-two-thirds {{ text_align_class }}">
        <h1 class="title">{{ section_article.title }}</h1>
        <h2 class="subtitle has-text-link">{{ section_article.subtitle }}</h2>
        <div class="content">
          {{ section_article.teaser }}
        </div>
        <div>
          <a class="button is-link" href="{{ section_article.url }}">{{ section_article.buttontext }}</a>
        </div>
      </div>
    {% endmacro %}

    {% macro section_icon(section_article) %}
      <div class="column is-one-third has-text-centered is-hidden-mobile">
        <ion-icon name="{{ section_article.icon }}" class="is-size-1 has-text-link"></ion-icon>
      </div>
    {% endmacro %}

    {% for section_article in articles | selectattr('section', 'defined') | sort(attribute = 'section') %}
      <section class="section {{ loop.cycle('has-background-white', 'has-background-light') }}">
        <div class="container">
          <div class="columns is-centered is-vcentered">

            {% if loop.index0 is divisibleby(2) %}
              {{ section_icon(section_article) }}
              {{ section_content(section_article) }}
            {% else %}
              {{ section_content(section_article, 'has-text-right') }}
              {{ section_icon(section_article) }}
            {% endif %}
            
          </div>
        </div>
      </section>
    {% endfor %}

    <section class="section">
      <div class="container">
        <h2 class="title is-2 has-text-centered is-uppercase mb-6 has-text-weight-light">Resources</h2>

        {% for row in articles | selectattr('category', 'eq', 'resources') | sort(attribute='order') | batch(4) %}

          <div class="tile is-ancestor">
            
            {% for resource in row %}

              <div class="tile is-parent is-3 mx-auto">
                <div class="card tile is-child py-5">
                  
                  <div class="card-content">
                    <p class="has-text-centered mb-5">
                      <ion-icon name="{{ resource.icon }}" class="is-size-3 has-text-link"></ion-icon>
                    </p>
                    <p class="title is-size-5 has-text-weight-light is-uppercase has-text-centered">
                      {{ resource.title }}
                    </p>
                    <div class="content has-text-centered">
                      {{ resource.teaser }}
                    </div>
                    {% if resource.link is defined %}
                      <div class="has-text-centered">
                        <a class="button is-link" href="{{ resource.link }}">{{ resource.linktext if resource.linktext is defined else 'Learn more' }}</a>
                      </div>
                    {% elif resource.content %}
                      <div class="has-text-centered">
                        <a class="button is-link" href="{{ resource.url }}">Learn more</a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>

            
            {% endfor %}

          </div>

        {% endfor %}
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h1 class="title is-2 has-text-centered is-uppercase mb-6 has-text-weight-light">Services</h1>

        {% for row in articles | selectattr('category', 'eq', 'services') | sort(attribute='order') | batch(3) %}

          <div class="tile is-ancestor">
            
            {% for service in row %}

              <div class="tile is-parent is-3 mx-auto">
                <div class="card tile is-child py-5">
                  <div class="card-content">
                    <p class="has-text-centered mb-5">
                      <ion-icon name="{{ service.icon }}" class="is-size-3 has-text-link"></ion-icon>
                    </p>
                    <p class="title is-size-5 has-text-weight-light is-uppercase has-text-centered">
                      {{ service.title }}
                    </p>
                    <div class="content has-text-centered">
                      {{ service.teaser }}
                    </div>
                    {% if service.link is defined %}
                      <div class="has-text-centered">
                        <a class="button is-link" href="{{ service.link }}">{{ service.linktext if service.linktext is defined else 'Learn more' }}</a>
                      </div>
                    {% elif service.content %}
                      <div class="has-text-centered">
                        <a class="button is-link" href="{{ service.url }}">Learn more</a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>

            
            {% endfor %}

          </div>

        {% endfor %}
      </div>
    </section>

    <section class="section">
      <div class="container">
        <h1 class="title is-2 has-text-centered is-uppercase mb-6 has-text-weight-light">News</h1>

        {% for row in articles | selectattr('category', 'eq', 'news') | sort(attribute='date', reverse = true) | batch(4) %}

          <div class="tile is-ancestor">
            
            {% for news in row %}

              <div class="tile is-parent is-3 mx-auto">
                <div class="card tile is-child py-5">
                  <div class="card-content">
                    <div class="columns">
                      <div class="column is-half">
                        <figure class="image is-5by4">
                          <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/news_images/{{ news.image1 if news.image1 is defined else 'news.png' }}">
                        </figure>
                      </div>
                      <div class="column">
                        <figure class="image is-5by4">
                          <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/news_images/{{ news.image2 if news.image2 is defined else 'news2.png' }}">
                        </figure>
                      </div>
                    </div>   
                    <p class="has-text-centered mb-5">
                    </p>
                    <p class="title is-size-5 has-text-weight-light is-uppercase has-text-centered">
                      {{ news.title }}
                    </p>
                    <div class="content has-text-centered">
                      {{ news.summary }}
                    </div>
                  </div>
                </div>
              </div>

            
            {% endfor %}

          </div>

        {% endfor %}
      </div>
    </section>

    <section class="section"> 
      <div class="container">
        <h1 class="title is-2 has-text-centered is-uppercase mb-6 has-text-weight-light">Collaborators</h1>
        <h2 class="subtitle has-text-centered" >Click on the logos to find out more</h2>

        {% for row in articles | selectattr('category', 'eq', 'funders_partners') | selectattr('order', 'in', ['3', '4', '5', '6']) | sort(attribute='order') | batch(4) %}

          <div class="tile is-ancestor">
            
            {% for funders_partners in row %}

              <div class="tile is-parent is-2 mx-auto">
                <div class="card tile is-child py-5">
                    <div class="card-content has-text-centered">
                        <a href="{{ funders_partners.website }}"
                        ><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ funders_partners.image }}" style="height:5rem">
                        </a
                      >
                  </div>
                </div>
              </div>

            
            {% endfor %}

          </div>

        {% endfor %}
        <br />

        <h1 class="title is-2 has-text-centered is-uppercase mb-6 has-text-weight-light">Technology Support</h1>
        {% for row in articles | selectattr('category', 'eq', 'funders_partners') | selectattr('order', 'in', ['7', '8']) | sort(attribute='order') | batch(3) %}

          <div class="tile is-ancestor">
            
            {% for funders_partners in row %}

              <div class="tile is-parent is-4 mx-auto">
                <div class="card tile is-child py-5">
                    <div class="card-content has-text-centered">
                        <a href="{{ funders_partners.website }}"
                        ><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ funders_partners.image }}" style="height:4rem">
                        </a
                      >
                  </div>
                </div>
              </div>

            
            {% endfor %}

          </div>

        {% endfor %}
        <br />

        <h1 class="title is-2 has-text-centered is-uppercase mb-6 has-text-weight-light">Funders and Projects</h1>
        {% for row in articles | selectattr('category', 'eq', 'funders_partners') | sort(attribute='order') | batch(2) %}

          <div class="tile is-ancestor">
            
            {% for funders_partners in row | selectattr('order', 'in', ['1', '2']) %}

              <div class="tile is-parent is-6 mx-auto">
                <div class="card tile is-child py-5">
                  <div class="card-content has-text-centered">
                      <a href="{{ funders_partners.website }}"
                      ><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ funders_partners.image }}" style="height:5rem">
                      </a
                    > 
                  </div>
                  {% if funders_partners.order == '1' %}
                    <footer class="card-footer has-text-centered">
                      <a href="{{ SITEURL }}/{{ funders_partners.url }}" class="card-footer-item is-size-5 mt-5">{{ funders_partners.related_project }}</a>
                    </footer>   
                  {% else %}
                    <footer class="card-footer has-text-centered">
                      <a href="{{ SITEURL }}/{{ funders_partners.url }}" class="card-footer-item is-size-5">{{ funders_partners.related_project1 }}</a>
                      <a href="{{ SITEURL }}/{{ funders_partners.url }}" class="card-footer-item is-size-5">{{ funders_partners.related_project2 }}</a>
                    </footer>  
                  {% endif %}

                </div>

              </div>            
            {% endfor %}   
          </div>
        {% endfor %} 
      </div>
    </section>


{% endblock %}
