{% extends "base.html" %}
{% block content %}

<section class="section">
  <div class="container">
    <h1 class="title">{{ article.title }}</h1>
    {% if article.subtitle is defined %}
      <h2 class="subtitle has-text-link">{{ article.subtitle }}</h2>
    {% endif %}
    <div class="content">
      {{ article.content }}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title has-text-centered">ANC core team</h2>
    <br />
    {% for column in articles | selectattr('category', 'eq', 'staff')  | rejectattr('position', 'eq', 'Associated researcher') | sort(attribute = 'order') | batch(3) %}
      <div class="tile is-parent">
        {% for person in column %}
          <div class="tile is-parent">
            <div class="tile is-child has-text-centered">
              <figure class="image is-128x128 mx-auto mb-5">
                <img class="is-rounded" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ person.image if person.image is defined else 'person.png' }}" alt="{{ person.title }}">
              </figure>
              <p class="title is-size-5">{{ person.name }} {{person.surname}}</p>
              {% if person.position is defined %}
                  <p class="is-size-5 my-1">{{ person.position }}</p>
              {% endif %}
              {% if person.affiliations is defined %}
                {% for a in person.affiliations %}
                  <p class="is-size-7 my-1">{{ a }}</p>
                {% endfor %}
              {% endif %}
              <p class="mt-5">
              {% if person.email is defined %}
                <span class="icon">
                  <a href="mailto:{{ person.email }}"><ion-icon name="at" class="is-size-4"></ion-icon></a>
                </span>
              {% endif %}
              {% if person.phone is defined %}
                <span class="icon">
                  <a href="tel:{{ person.phone }}"><ion-icon name="call-outline" class="is-size-4"></ion-icon></a>
                </span>
              {% endif %}
              {% if person.web is defined %}
                <span class="icon">
                  <a href="{{ person.web }}"><ion-icon name="link-outline" class="is-size-4"></ion-icon></a>
                </span>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>


<section class="section">
  <div class="container">
    <h2 class="title has-text-centered">National Collaborators</h2>
    <br />
    {% for column in articles | selectattr('category', 'eq', 'staff')  | selectattr('position', 'eq', 'Associated researcher') | sort(attribute = 'order') | batch(3) %}
      <div class="tile is-parent">
        {% for person in column %}
          <div class="tile is-parent">
            <div class="tile is-child has-text-centered">
              <figure class="image is-128x128 mx-auto mb-5">
                <img class="is-rounded" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ person.image if person.image is defined else 'person.png' }}" alt="{{ person.title }}">
              </figure>
              <p class="title is-size-5">{{ person.name }} {{person.surname}}</p>
              {% if person.affiliations is defined %}
                {% for a in person.affiliations %}
                  <p class="is-size-7 my-1">{{ a }}</p>
                {% endfor %}
              {% endif %}
              <p class="mt-5">
              {% if person.email is defined %}
                <span class="icon">
                  <a href="mailto:{{ person.email }}"><ion-icon name="at" class="is-size-4"></ion-icon></a>
                </span>
              {% endif %}
              {% if person.phone is defined %}
                <span class="icon">
                  <a href="tel:{{ person.phone }}"><ion-icon name="call-outline" class="is-size-4"></ion-icon></a>
                </span>
              {% endif %}
              {% if person.web is defined %}
                <span class="icon">
                  <a href="{{ person.web }}"><ion-icon name="link-outline" class="is-size-4"></ion-icon></a>
                </span>
              {% endif %}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
